@import "tailwindcss"; 


/* Limpa margem e padding de todos os elementos */
* {
   box-sizing: border-box;
}

/* Não definimos margem e padding aqui, pois o Tailwind já cuida disso */
/* html, body {
  padding: 0;
  margin: 0;
} */


/* Garante que imagens e mídia se comportem de forma previsível */
img,
picture,
video,
canvas,
svg {
 display: block;
 max-width: 100%;
}

/* Remove estilos de lista padrão */
ul,
ol {
list-style: none;
}

/* Remove a sublinhado de links por padrão */
a {
 text-decoration: none;
}